
extends ./MapPageBase

block append scriptsblock
    script(src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js')
    script(src='/javascripts/lib/StartupArcGIS.js')
    script(src='javascripts/lib/searcher.js')
    script(src='javascripts/controllers/PusherSetupCtrl.js')
