
extends  ./MapPageBase


block append scriptsblock
    script(src='javascripts/lib/MapHosterGoogle.js')
    script(src='javascripts/lib/StartupGoogle.js')
    script(src='javascripts/lib/searcher.js')
    script(src='javascripts/lib/utils.js')

//
    block append content
        div GoogleMap template for GoogleMap displays
