# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/
resources/android/
resources/ios/
pacman.txt
appdep.js
gitpass
example.js
ionic.project
www/layout.html
www/index.html
gitgraph
out.svg
tmp.dot
www/js/app.js
www/css/styles.css
www/css/*.css
www/templates/*.html
