
extends layout

block content
            div(id="ngview_container",
                style="position:relative;height:100%;width:100%;", ng-cloak, class="ng-cloak")
                div(id='map', ui-view, style="height : 100%; width : 100%; font-size:1.5rem;")
