script(type="text/ng-template" id="accordion-template.html")
    div(class="panel {{panelClass || 'panel-default'}}")
        div(class="panel-heading")
            h4(class="panel-title", style="color:#6E9096; font-size: 0.85em; font-weight: 300;")
                a(href tabindex="0", class="accordion-toggle", ng-click="toggleOpen()", uib-accordion-transclude="heading")
                    span(ng-class="{'text-muted': isDisabled}",{{heading}},
                        img(class="accordionchevron-right",
                            ng-class="{'accordionchevron-down': status.isNewsOpen, 'accordionchevron-right': !status.isNewsOpen}"))
        div(class="panel-collapse collapse", uib-collapse="!isNewsOpen")
            div(class="panel-body", style="text-align: right", ng-transclude)
