div(class="modal-content")
    div(class="modal-header")
        button(type="button", class="close", data-dismiss="modal", aria-hidden="true", ng-click="cancel()") &times
        div(style="color: #17244D; margin-top: 5px;")
            span
                img(ng-src="{{data.icon}}", style="height : 3em; width : 3em; margin-right : 1em;")

                |{{data.title}}

    div(class="modal-body", style="background-color: #6E9096")

        uib-accordion(close-others="true")
            uib-accordion-group(template-url="accordion-template.jade", class="accdiongroup",
                heading="Details", is-open='status.detailsOpen')
                |{{data.snippet}}
            uib-accordion-group(template-url="accordion-template.jade", class="accdiongroup",
                heading="Select option for new map display", is-open='status.destChoicesOpen')
                div(class="btn-group btn-group-vertical")
                    span(data-ng-repeat="dest in destSelections")
                        label(class="btn btn-primary", uib-btn-radio="'{{dest.option}}'",
                            ng-model="data.dstSel", class="{{dest.showing}}")
                            |{{dest.option}}

                        br
                br

        div(style="color: #17244D; margin-top: 10px;font-weight: bold") Current Selection: {{data.dstSel}}

    div(class="modal-footer")
        button(type="button", class="btn btn-primary", ng-click="accept()") Accept
        button(type="button", class="btn btn-primary", ng-click="cancel()") Cancel
