doctype
html(style="height:100%;width:100%;")
    head
        meta(charset='utf8', name="viewport", content="width=device-width, initial-scale=1")
        base(href='/')
        title Mashover Viewer
        block stylesblock
            link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css")
            link(rel='stylesheet', href="//serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/dojo/dijit/themes/nihilo/nihilo.css")
            link(rel='stylesheet', href='//js.arcgis.com/3.10/js/esri/css/esri.css')
            link(rel='stylesheet', href='/stylesheets/SearchGrid.css')
            link(rel='stylesheet', href='http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/dgrid/css/dgrid.css')
            link(rel='stylesheet', href='http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/dgrid/css/skins/nihilo.css')
            link(rel='stylesheet', href='/stylesheets/layout.css')
            link(rel='stylesheet', href='/stylesheets/flexbox.css')
            link(rel='stylesheet', href='/stylesheets/tabstyles.css')
            link(rel='stylesheet', href='/stylesheets/GoogleSearch.css')
            link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
            link(rel='stylesheet', href='stylesheets/octicons/octicons.css')
            link(href="https://rawgit.com/MarkoCen/ngPopup/master/dist/ngPopup.min.css")
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.1/ui-grid.css")

        block scriptsblock
            script(src='http://js.pusherapp.com/2.2/pusher.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js')
            script(src='//serverapi.arcgisonline.com/jsapi/arcgis/?v=3.5compact')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-touch.js')
            script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js')
            script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js")

            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js')
            script(src='http://code.jquery.com/jquery-2.0.3.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.1/ui-grid.js')
            script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAwAOGAxY5PZ8MshDtaJFk2KgK7VYxArPA&libraries=places')
            script(src="https://rawgit.com/MarkoCen/ngPopup/master/dist/ngPopup.min.js")

            script(src='/javascripts/MasherApp.js')

    body(class="nihilo",style="width:100%;overflow-y:auto; font-size:1em;-webkit-text-size-adjust: 100%;",
        ng-cloak, class="ng-cloak")
        block content
